.mat-card {
  width: calc(100% - 15px);
  height: calc(100% - 10px);
}
/*
.compras-table-panel {
  max-height: 300px;
  overflow: auto;
}
.partidas-panel {
  min-height: 200px;
  background-color: red;
}
*/
